/**
 * @file enzipher_-_the_drop.css
 * A light blue 'easy reading' theme for Tiny Tiny RSS.
 * 
 * Author....: enzipher <http://tt-rss.org/forum/memberlist.php?mode=viewprofile&u=3638>
 * Version...: 1.4 (for ttrss >= 1.7.4)
 * Updated...: 2013-03-29
 *
 * Changes:
 * v.1.4 - Fixed incorrect resizing of images.
 *       - Cleanup, commenting and restructuring.
 * v.1.3 - Removed outline from titles.
 * v.1.2 - No item header border without "Automatically expand articles in combined mode".
 *       - Padding fix for attachment button.
 * v.1.1 - max-width override for article content.
 */

/* Item rows */
#headlines-frame > div {
  border: 1px solid #ccc;
  border-width: 1px 4px;
  border-radius: 7px;
  background-color: #fff;
  margin: 5px 2px;
  overflow: hidden;
  position: relative;
}

#headlines-frame > div.Selected,
#headlines-frame > div:hover {
  border-color: #4A88AE;
  background-color: #FFFFFF !important;
}

/* begin alternative row style - limited width */
/* Remove these lines if you don't want a fixed max width for the posts. */
#headlines-frame > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
}
/* end alternative row style - limited width */

/* Item header */
.cdmHeader {
  background-color: transparent !important;
}
.cdmHeader .titleWrap .title {
  color: #4A88AE;
  font: bold 16px Arial !important;
  outline: none;
}

/* Item feed name */
.cdmHeader .hlFeed {
  line-height: 1;
  margin-top: 4px;
  padding: 2px 3px;
}
.cdmHeader .hlFeed a {
  color: #4A88AE !important;
  font-size: 11px;
}
.cdmHeader .titleWrap .hlFeed a:hover {
  text-decoration: underline !important;
}

/* Item content */
.cdmContent {
  border-top: 1px dashed #ccc;
}
div.cdmContent a {
  color: #4A88AE;
  text-decoration: none;
}
div.cdmContent a:hover {
  color: #4A88AE;
  text-decoration: underline;
}

.cdmContent .cdmContentInner {
  color: #333333;
  font-size: 14px;
  margin: 10px;
  line-height: 1.35em;
}
.cdmContent .cdmContentInner p {
  max-width: none;
}
/* Adjusts images in posts */
.cdmContent .cdmContentInner img {
  height: auto;
  max-width: 100%;
}
.cdmContent .cdmContentInner pre {
  line-height: 1;
}

/* Remove border from spacer */
#headlines-spacer {
  border: 0 none !important;
}

/* Feed list (left pane) */
.dijitTreeRow {
  font-size: 11px;
  padding-left: 0 !important; /* < 1.7.5 */
}
.dijitTreeContainer .dijitInline {
  padding-left: 0 !important; /* >= 1.7.5 */
}


/* Change opacity for read items */
#headlines-frame > div {
  opacity: .5;
}
#headlines-frame > div.Unread,
#headlines-frame > div.Selected,
#headlines-frame > div:hover {
  opacity: 1;
}


/**
 * Remove clutter.
 */
/* Remove author after title */
div.cdmHeader span.author { display: none }
/* Remove article footer */
.cdmContent .cdmFooter { display: none }


/**
 * Item content corrections.
 */
/* Remove background and borders for tables */
.Selected .cdmContentInner td,
.cdmContentInner td {
  border: inherit !important;
  background: transparent !important;
  font-weight: normal !important;
}
